* {
    scrollbar-width: 0;
}

*::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 99px;
    background-color: #F79C0A;
}

@font-face {
    font-family: 'Mukta';
    src: url('../fonts/Mukta-Bold.ttf');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mukta';
    src: url('../fonts/Mukta-ExtraBold.ttf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mukta';
    src: url('../fonts/Mukta-Medium.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mukta';
    src: url('../fonts/Mukta-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mukta';
    src: url('../fonts/Mukta-SemiBold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Newsreader';
    src: url('../fonts/Newsreader-Medium.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Newsreader';
    src: url('../fonts/Newsreader-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Mukta';
    font-weight: 400;
    color: #393021;
}

.btn {
    outline: none;
    background: none;
    border: none;
    font-family: 'Mukta';
    font-weight: 800;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.btn span {
    font-weight: 800;
    font-size: 18px;
    line-height: 122%;
}

.container {
    max-width: 1440px;
    margin: auto;
}

body {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: overlay;
}

h1,
h1 span {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 900;
    font-size: 74px;
    line-height: 104%;
    letter-spacing: -0.02em;
    max-width: 505px;
}

h1 span {
    color: #F79C0A;
}

h2,
h2 span {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 104%;
    /* or 67px */
    letter-spacing: -0.02em;
    /* Style */
    color: #393021;
    mix-blend-mode: normal;
}

.btn-seeall a {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 122%;
    color: #EE6F14;
    padding: 16px 64px;
    border-radius: 8px;
    border: 2px solid rgba(238, 111, 20, 0.2);
    display: grid;
    transition: all 0.2s ease-in-out;
}

.btn-seeall a:hover {
    color: #fff;
    background-color: #EE6F14;
}

.section-cta-container {
    display: grid;
    justify-items: center;
    margin-top: 48px;
}

.btn-contactus2 {
    background-color: #FDE6C2;
    padding: 20px 24px 20px 57px;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 24px;
    align-items: center;
    border-radius: 8px;
    justify-items: center;
    justify-content: center;
}

.btn-contactus2:hover {
    background-color: #EE6F14;
}

.btn-contactus2:hover>span {
    color: #fff;
}

.btn-contactus2:hover>svg path {
    fill: #fff;
}

.btn-contactus2 span {
    color: #EE6F14;
    line-height: 122%;
}

.mobile-menu ul {
    display: grid;
    justify-content: stretch;
}

.mobile-menu ul li a {
    padding: 24px 0;
    width: 100%;
    border-bottom: 1px solid #ECEBE9;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto;
}

.mobile-menu {
    padding: 0 24px 24px 24px;
    position: absolute;
    background-color: #fff;
    width: 100%;
    top: 90px;
    display: none;
    grid-gap: 24px;
    box-shadow: 0px 4px 8px rgba(57, 48, 33, 0.2);
}


/* ---------------------------------------- HEADER START ----------------------------------------  */

.main-header {
    background-color: #FFF9F0;
    display: grid;
    grid-gap: 24px;
    padding-bottom: 43px;
}

.header {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    grid-gap: 64px;
    padding: 24px 0;
    width: 100%;
}

.btn-contactus {
    background-color: #FDE6C2;
    padding: 20px 24px 20px 57px;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 24px;
    align-items: center;
    border-radius: 8px;
}

.btn-contactus:hover {
    background-color: #EE6F14;
}

.btn-contactus:hover>span {
    color: #fff;
}

.btn-contactus:hover>svg path {
    fill: #fff;
}

.btn-contactus span {
    color: #EE6F14;
    line-height: 122%;
}

.nav-header {
    display: grid;
    justify-content: end;
}

.nav-header ul {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 48px;
}

.nav-header ul li a {
    color: #948C7E;
    font-weight: 800;
    line-height: 122%;
    font-size: 18px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-gap: 4px;
    transition: color 0.2s ease-in-out;
}

.nav-header ul li a:hover {
    color: #393021;
}

.btn-hamburger-menu {
    display: none;
}


/* ---------------------------------------- HEADER END ----------------------------------------  */


/* ---------------------------------------- HERO START ----------------------------------------  */

.section-hero {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    grid-gap: 52px;
}

.section-hero .left-side {
    margin-top: 93px;
}

.section-hero .right-side {
    display: grid;
    justify-items: end;
    align-items: center;
}

.section-hero .right-side img {
    width: 100%;
    height: auto;
}

.title-small {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 122%;
    color: #F79C0A;
    margin-bottom: 24px;
}

.p-normal {
    font-family: 'Newsreader';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 148%;
    color: #948C7E;
    max-width: 491px;
    margin-top: 32px;
}

.left-side-btns-container {
    margin-top: 48px;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    grid-gap: 64px;
    align-items: center;
}

.btn-cta {
    background-color: #F79C0A;
    padding: 24px 64px;
    border-radius: 8px;
}

.btn-cta:hover {
    background-color: #E4910C;
}

.btn-cta span {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.opening-container {
    display: grid;
    grid-gap: 8px;
    justify-items: center;
}

.opening-header-container {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-gap: 4px;
}

.opening-header-container p {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 122%;
    /* identical to box height, or 17px */
    /* #948C7E */
    color: #948C7E;
}

.opening-container #time-stamp {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 122%;
    /* identical to box height, or 22px */
    /* Style */
    color: #393021;
}


/* ---------------------------------------- HERO END ----------------------------------------  */


/* ---------------------------------------- ABOUT US START ----------------------------------------  */

.section-aboutus {
    max-width: 1150px;
    margin: auto;
    padding-top: 128px;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 120px;
}

.section-aboutus .left-side {
    max-height: 639px;
}

.section-aboutus .right-side {
    margin-top: 108px;
    display: grid;
    align-content: start;
    max-width: 536px;
}

.section-aboutus .right-side .achievements-container {
    margin-top: 48px;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 64px;
}

.achievements-container-mobile {
    display: none;
}

.achievements-h3 {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 122%;
    /* identical to box height, or 20px */
    letter-spacing: -0.02em;
    /* #948C7E */
    color: #948C7E;
}

.achievements-answer {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 122%;
    /* identical to box height, or 39px */
    letter-spacing: -0.02em;
    /* Style */
    color: #393021;
}

.achievements-item {
    display: grid;
    grid-gap: 8px;
}


/* ---------------------------------------- ABOUT US END ----------------------------------------  */


/* ---------------------------------------- PERKS START ----------------------------------------  */

.section-perks {
    background-color: #FEFAF2;
    padding: 120px 0;
}

.section-perks h2 {
    text-align: center;
}

.section-perks .h2-small-below {
    text-align: center;
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 122%;
    /* identical to box height, or 39px */
    text-align: center;
    letter-spacing: -0.02em;
    color: #568A9F;
    margin-top: 12px;
    margin-bottom: 52px;
}

.section-perks-inside-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px;
}

.perks-item {
    background-color: #fff;
    padding: 52px 32px;
    border-radius: 32px;
    display: grid;
    align-content: start;
    justify-content: center;
    justify-items: center;
}

.perks-item h3 {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 122%;
    /* or 29px */
    text-align: center;
    letter-spacing: -0.02em;
    /* Style */
    color: #393021;
    margin-top: 32px;
}

.perks-item p {
    margin-top: 24px;
    text-align: center;
}


/* ---------------------------------------- PERKS END ----------------------------------------  */


/* ---------------------------------------- HOW IT WORKS START ----------------------------------------  */

.section-howitworks {
    padding: 112px 0 170px 0;
}

.section-howitworks .title-small {
    margin-bottom: 16px;
}

.section-howitworks .p-normal {
    margin-top: 16px;
    max-width: 700px;
}

.howitworks-header-container {
    margin-bottom: 35px;
}

.swiper {
    width: 100%;
    height: 100%;
    overflow: visible;
}

.swiper-slide {
    display: grid;
    grid-auto-flow: column;
    background-color: #FFF6E7;
    border-radius: 24px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-functions-container {
    display: grid;
    grid-auto-flow: column;
    position: absolute;
    top: -80px;
    right: 0;
    align-items: center;
}

.swiper-pagination {
    width: auto !important;
    position: unset;
    height: 100%;
}

.swiper-pagination-bullet {
    background: #CED8D6;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #3D665B;
    transform: scale(1.3);
}

.swiper-left-side {
    padding: 48px;
    max-width: 326px;
}

.swiper-left-side h3,
.swiper-left-side h3 span {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 122%;
    /* identical to box height, or 39px */
    /* Style */
    color: #393021;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.swiper-left-side h3 span {
    color: #EE6F14;
    display: block;
}

.swiper-right-side {
    display: grid;
    align-items: center;
}

.swiper-right-side img {
    width: 100%;
    height: auto;
}


/* ---------------------------------------- HOW IT WORKS END ----------------------------------------  */


/* ---------------------------------------- FAQ START ----------------------------------------  */

.section-faq {
    background-color: #457C93;
    padding: 80px 0 144px 0;
}

.section-faq .p-normal {
    color: #B5CBD4;
    text-align: center;
    max-width: 703px;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 80px;
}

.section-faq h2 {
    color: #fff;
    text-align: center;
}

.faqs-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 32px;
    align-items: start;
    justify-content: center;
}

.faq-container {
    background: #fff;
    border-radius: 8px;
}

.question {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 24px 32px;
    padding-right: 96px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.question h3 {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 26px;
    /* identical to box height, or 108% */
    text-transform: capitalize;
    /* #EE6F14 */
    color: #393021;
}

.selected-h3 {
    color: #EE6F14 !important;
}

.question::after {
    content: url('../img/arrow-down.svg');
    font-size: 2.2rem;
    position: absolute;
    right: 44px;
    transition: 0.2s;
    z-index: 2;
    background-color: red;
    width: 16px;
    height: 16px;
    background: url('../img/arrow-down.svg');
    overflow: hidden;
    background-position: center center;
}

.question::before {
    content: '';
    background-color: #F5F6F9;
    width: 40px;
    border-radius: 8px;
    height: 40px;
    position: absolute;
    z-index: 1;
    right: 32px;
}

.question.active::after {
    transform: rotate(180deg);
}

.answercont {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
}

.answer {
    padding: 8px 32px 40px 32px;
    font-family: 'Newsreader';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    /* or 130% */
    letter-spacing: 0.2px;
    /* Style */
    color: #393021;
    opacity: 0.85;
}


/* ---------------------------------------- FAQ END ----------------------------------------  */


/* ---------------------------------------- BLOG START ----------------------------------------  */

.section-blog {
    padding: 112px 0 128px 0;
}

.section-blog h2 {
    font-size: 46px;
}

.title-small-big {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 122%;
    /* identical to box height, or 39px */
    letter-spacing: -0.02em;
    /* #EE6F14 */
    color: #EE6F14;
    margin-bottom: 12px;
}

.section-blog .slider-container {
    margin-top: 24px;
}

.blog-slide-container {
    display: grid;
    cursor: pointer;
}

.blog-slide-container img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.blog-slide-text-container {
    display: grid;
    grid-gap: 16px;
    padding: 32px;
}

.blog-slide-text-container h3 {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 122%;
    color: #58595B;
}

.p-blog-article-slide {
    font-family: 'Newsreader';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 148%;
    /* or 27px */
    /* #948C7E */
    color: #948C7E;
}


/* ---------------------------------------- BLOG END ----------------------------------------  */


/* ---------------------------------------- BRING BABY START ----------------------------------------  */

.bringbaby-inside-container {
    display: grid;
    justify-items: center;
}

.section-bringbaby {
    background-color: #FEFAF2;
    padding: 112px 0;
    position: relative;
    margin-top: 214px;
}

.section-bringbaby h2 {
    max-width: 490px;
    text-align: center;
    margin-bottom: 16px;
}

.section-bringbaby h2 span {
    color: #EE6F14;
}

.section-bringbaby .p-normal {
    margin-top: 32px;
    text-align: center;
    max-width: 653px;
}

#babybaloon {
    position: absolute;
    right: 68px;
    top: -198px;
    width: 20vw;
    height: auto;
}

#home {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20vw;
    height: auto;
}


/* ---------------------------------------- BRING BABY END ----------------------------------------  */


/* ---------------------------------------- PARTNERS START ----------------------------------------  */

.section-partners {
    padding: 112px 0 144px 0;
    display: grid;
    justify-items: center;
}

.section-partners h2 {
    font-size: 46px;
    text-align: center;
}

.section-partners p {
    text-align: center;
}

.section-partners .p-normal {
    max-width: 703px;
}

.partners-container {
    display: flex;
    gap: 40px;
    margin-top: 74px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.partner-item {
    background-color: #F8F8F8;
    border-radius: 16px;
    padding: 24px;
    display: grid;
    justify-items: center;
    align-items: center;
}


/* ---------------------------------------- PARTNERS END ----------------------------------------  */


/* ---------------------------------------- CONTACT US START ----------------------------------------  */

.section-contactus {
    background-color: #FDEFD3;
    padding: 96px 0 128px 0;
}

.section-contactus h2 {
    font-size: 46px;
    text-align: center;
}

.section-contactus-header {
    display: grid;
    justify-items: center;
}

.section-contactus-header p {
    text-align: center;
}

.contactus-boxes-container {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 32px;
    grid-template-columns: auto 1fr;
    margin-top: 48px;
}

.contactus-boxes-container div {
    border-radius: 16px;
}

.contactus-left-box {
    background-color: #fff;
    padding: 48px;
    display: grid;
    grid-gap: 32px;
}

.contactus-right-box {
    background-color: #fff;
}

.contactus-leftbox-item {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-gap: 24px;
    justify-content: start;
}

.lftbox-item-leftside {
    padding: 16px;
    border-radius: 100%;
    border: 1px solid #FBD7BE;
    background-color: #FEF1E8;
    max-width: 72px;
    max-height: 72px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.lftbox-item-rightside {
    display: grid;
    grid-gap: 8px;
}

.lftbox-item-rightside h3 {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 122%;
    color: #393021;
}

.lftbox-item-rightside .lftbox-answer {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 122%;
    color: #568A9F;
}

.lftbox-socials-container {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 16px;
    align-items: center;
}

.lftbox-social-item {
    display: grid;
    width: 32px;
    height: 32px;
    justify-items: center;
    align-items: center;
    border: 1px solid #CDDCE3;
    border-radius: 100%;
    transition: all 0.2s ease-in-out;
}

.lftbox-social-item:hover {
    background-color: #568A9F;
    border: 1px solid #568A9F;
}

.lftbox-social-item:hover>svg path {
    fill: #fff;
}


/* ---------------------------------------- CONTACT US END ----------------------------------------  */


/* ---------------------------------------- FOOTER START ----------------------------------------  */

.footer-top {
    background-color: #568A9F;
    padding: 64px 0;
}

.footer-bottom {
    background-color: #457C93;
    padding: 26px 24px;
    overflow: hidden;
    display: grid;
    justify-items: center;
}

.copyright-p {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 122%;
    color: #FFFFFF;
}

.footer-main-section {
    display: grid;
    grid-gap: 24px;
    max-width: 500px;
    align-content: start;
}

.p-footer {
    font-family: 'Newsreader';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 148%;
    color: rgba(255, 255, 255, 0.7);
}

.subscribe-input-container {
    padding: 4px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 12px;
    border-radius: 8px;
}

#sub-email {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 122%;
    padding: 10px 16px;
    border: none;
    background: none;
    outline: none;
}

#sub-email::placeholder {
    color: #8B8E95;
}

.btn-sub-footer span {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 122%;
    color: #fff;
}

.btn-sub-footer {
    background-color: #EE6F14;
    padding: 10px 24px;
    border-radius: 8px;
    transition: background-color 0.2s ease-in-out;
}

.btn-sub-footer:hover {
    background-color: #393021;
}

.Subscribe-section-container {
    display: grid;
    grid-gap: 12px;
}

.Subscribe-section-container h3 {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 122%;
    color: #FFFFFF;
}

.footer-top-inside {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    grid-gap: 96px;
    align-content: start;
    grid-template-columns: auto 1fr;
}

.footer-nav {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    grid-gap: 12px;
}

.footer-nav ul h3 {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 122%;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.footer-nav ul {
    display: grid;
    grid-gap: 8px;
    align-content: start;
}

.footer-nav ul li a {
    color: #CCDCE2;
    transition: color 0.2s ease-in-out;
}

.footer-nav ul li a:hover {
    text-decoration: underline;
    color: #fff;
}


/* ---------------------------------------- FOOTER END ----------------------------------------  */


/* ---------------------------------------- RESPONSIVES START ----------------------------------------  */

@media only screen and (max-width: 1480px) {
    .container {
        margin: 0 40px;
        width: unset;
    }
    .section-aboutus {
        margin: 0 40px;
    }
    .nav-header ul {
        grid-gap: 32px;
    }
    .header {
        grid-gap: 52px;
    }
    .section-hero .left-side {
        margin-top: 0;
        align-self: center;
    }
}

@media only screen and (max-width: 1180px) {
    h1,
    h1 span {
        font-size: 52px;
        max-width: 400px;
    }
    h2,
    h2 span {
        font-size: 48px !important;
    }
    .footer-top-inside {
        grid-gap: 48px;
    }
}

@media only screen and (max-width: 1080px) {
    .container {
        margin: 0 32px;
    }
    .nav-header {
        display: none;
    }
    .btn-hamburger-menu {
        display: block;
    }
    .btn-contactus {
        display: none;
    }
    .section-hero {
        grid-auto-flow: row;
    }
    .section-hero .right-side img {
        max-width: 640px;
    }
    .section-hero .right-side {
        justify-content: center;
    }
    .section-hero .left-side {
        display: grid;
        justify-content: center;
        justify-items: center;
    }
    .section-hero .left-side h1,
    .section-hero .left-side p {
        text-align: center;
    }
    .achievements-container-desktop {
        display: none !important;
    }
    .section-aboutus {
        grid-auto-flow: row;
        grid-gap: 64px;
        padding-top: 64px;
    }
    .section-aboutus .left-side {
        order: 2;
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        grid-gap: 52px;
        max-height: unset;
    }
    .section-aboutus .left-side img {
        width: 100%;
        height: auto;
    }
    .section-aboutus .right-side {
        justify-items: center;
        max-width: 100%;
        margin-top: unset;
    }
    .section-aboutus .right-side h2,
    .section-aboutus .right-side p {
        text-align: center;
    }
    .achievements-container-mobile {
        grid-gap: 64px;
        display: grid;
    }
    .section-perks-inside-container {
        grid-template-columns: 1fr 1fr;
    }
    h2,
    h2 span {
        font-size: 40px !important;
    }
    #home {
        display: none;
    }
    #babybaloon {
        right: 50%;
        transform: translateX(50%);
        top: -140px;
    }
    .section-bringbaby {
        padding: 250px 0 112px 0;
    }
    .footer-nav {
        grid-template-areas: 'firstgrid secondgrid' 'firstgrid thirdgrid';
        grid-gap: 32px;
    }
    #ftnv-1 {
        grid-area: firstgrid;
    }
    #ftnv-2 {
        grid-area: secondgrid;
    }
    #ftnv-3 {
        grid-area: thirdgrid;
    }
    .footer-top-inside {
        grid-template-columns: 1fr auto;
    }
}

@media only screen and (max-width: 980px) {
    .swiper-functions-container {
        top: unset;
        bottom: -64px;
        right: 50%;
        transform: translateX(50%);
    }
    .section-cta-container {
        margin-top: 80px;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        margin: 0 24px;
    }
    .section-perks-inside-container {
        grid-template-columns: 1fr;
    }
    h2,
    h2 span {
        font-size: 32px !important;
    }
    #babybaloon {
        width: 30vw;
    }
    .footer-top-inside {
        grid-auto-flow: row;
        grid-template-columns: 1fr;
    }
    .footer-nav {
        justify-content: space-around;
    }
}

@media only screen and (max-width: 580px) {
    .section-aboutus .left-side {
        grid-auto-flow: row;
        justify-items: center;
    }
    .section-aboutus .left-side img {
        order: 2;
    }
    #babybaloon {
        width: 40vw;
    }
}

@media only screen and (max-width: 480px) {
    .container {
        margin: 0 16px;
    }
    .left-side-btns-container {
        grid-auto-flow: row;
        grid-gap: 32px;
        margin-top: 32px;
    }
    h1,
    h1 span {
        font-size: 40px;
        max-width: 372px;
    }
    .p-normal {
        font-size: 16px;
        margin-top: 16px;
    }
    .title-small {
        font-size: 18px;
    }
    .swiper-slide {
        grid-auto-flow: row;
    }
    .swiper-right-side {
        order: 1;
        display: grid;
        justify-items: center;
        align-items: center;
    }
    .swiper-right-side img {
        width: auto;
        height: 300px;
    }
    .swiper-left-side {
        order: 2;
        display: grid;
        justify-content: center;
        justify-items: center;
        width: 100%;
        max-width: unset;
    }
    .swiper-left-side h3 {
        text-align: center;
    }
    .swiper-left-side p {
        text-align: center;
    }
    .section-bringbaby {
        padding: 200px 0 112px 0;
    }
}

@media only screen and (max-width: 380px) {
    .section-bringbaby {
        padding: 150px 0 112px 0;
    }
    .footer-nav {
        grid-template-areas: 'firstgrid' 'secondgrid' 'thirdgrid';
        grid-gap: 32px;
        justify-content: start;
    }
}

@media only screen and (max-width: 340px) {
    .section-bringbaby {
        padding: 110px 0 112px 0;
    }
}


/* ---------------------------------------- RESPONSIVES END ----------------------------------------  */